USE [master]
GO
/****** Object:  Database [bite_balance]    Script Date: 13/10/2025 11:06:52 a. m. ******/
CREATE DATABASE [bite_balance]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'biteandbalance', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\biteandbalance.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'biteandbalance_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\biteandbalance_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bite_balance].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bite_balance]
GO
/****** Object:  Table [dbo].[CategoriasBlog]    Script Date: 13/10/2025 11:06:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasBlog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[icono] [nvarchar](50) NULL,
	[color] [nvarchar](20) NULL,
	[fecha_creacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comentarios_blog]    Script Date: 13/10/2025 11:06:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comentarios_blog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[post_id] [int] NOT NULL,
	[autor_id] [int] NOT NULL,
	[comentario_padre_id] [int] NULL,
	[contenido] [nvarchar](max) NOT NULL,
	[fecha_comentario] [datetime] NULL,
	[fecha_modificacion] [datetime] NULL,
	[activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contactos]    Script Date: 13/10/2025 11:06:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contactos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nutriologo_id] [int] NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[telefono] [nvarchar](20) NULL,
	[mensaje] [nvarchar](max) NULL,
	[fecha_contacto] [datetime2](7) NULL,
	[estado] [nvarchar](20) NULL,
	[notas] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[likes_blog]    Script Date: 13/10/2025 11:06:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[likes_blog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[post_id] [int] NULL,
	[comentario_id] [int] NULL,
	[fecha_like] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerfilesNutriologo]    Script Date: 13/10/2025 11:06:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerfilesNutriologo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[especialidad] [nvarchar](100) NULL,
	[cedula_profesional] [nvarchar](50) NULL,
	[telefono] [nvarchar](20) NULL,
	[bio] [nvarchar](max) NULL,
	[foto_perfil] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostsBlog]    Script Date: 13/10/2025 11:06:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostsBlog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[autor_id] [int] NOT NULL,
	[categoria_id] [int] NULL,
	[titulo] [nvarchar](255) NOT NULL,
	[contenido] [nvarchar](max) NOT NULL,
	[imagen_destacada] [nvarchar](255) NULL,
	[fecha_publicacion] [datetime2](7) NULL,
	[fecha_modificacion] [datetime2](7) NULL,
	[vistas] [int] NULL,
	[activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reportes_blog]    Script Date: 13/10/2025 11:06:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reportes_blog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[reportador_id] [int] NOT NULL,
	[tipo_contenido] [nvarchar](20) NOT NULL,
	[contenido_id] [int] NOT NULL,
	[motivo] [nvarchar](max) NOT NULL,
	[estado] [nvarchar](20) NULL,
	[fecha_reporte] [datetime] NULL,
	[fecha_resolucion] [datetime] NULL,
	[notas_admin] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportesBlog]    Script Date: 13/10/2025 11:06:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportesBlog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[reportador_id] [int] NOT NULL,
	[tipo_contenido] [nvarchar](20) NOT NULL,
	[contenido_id] [int] NOT NULL,
	[motivo] [nvarchar](max) NOT NULL,
	[estado] [nvarchar](20) NULL,
	[fecha_reporte] [datetime2](7) NULL,
	[fecha_resolucion] [datetime2](7) NULL,
	[notas_admin] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sesiones]    Script Date: 13/10/2025 11:06:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sesiones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[token] [nvarchar](255) NOT NULL,
	[ip_address] [nvarchar](45) NULL,
	[user_agent] [nvarchar](max) NULL,
	[fecha_creacion] [datetime2](7) NULL,
	[fecha_expiracion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 13/10/2025 11:06:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[tipo_usuario] [nvarchar](20) NOT NULL,
	[fecha_registro] [datetime2](7) NULL,
	[ultimo_acceso] [datetime2](7) NULL,
	[activo] [bit] NULL,
	[recomendado] [bit] NULL,
	[calificacion] [decimal](3, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[visitas_perfil]    Script Date: 13/10/2025 11:06:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[visitas_perfil](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nutriologo_id] [int] NOT NULL,
	[visitante_id] [int] NULL,
	[ip_visitante] [varchar](45) NULL,
	[fecha_visita] [datetime] NULL,
	[duracion_segundos] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_categoria_nombre]    Script Date: 13/10/2025 11:06:53 a. m. ******/
CREATE NONCLUSTERED INDEX [idx_categoria_nombre] ON [dbo].[CategoriasBlog]
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_autor]    Script Date: 13/10/2025 11:06:53 a. m. ******/
CREATE NONCLUSTERED INDEX [idx_autor] ON [dbo].[comentarios_blog]
(
	[autor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_fecha]    Script Date: 13/10/2025 11:06:53 a. m. ******/
CREATE NONCLUSTERED INDEX [idx_fecha] ON [dbo].[comentarios_blog]
(
	[fecha_comentario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_padre]    Script Date: 13/10/2025 11:06:53 a. m. ******/
CREATE NONCLUSTERED INDEX [idx_padre] ON [dbo].[comentarios_blog]
(
	[comentario_padre_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_post]    Script Date: 13/10/2025 11:06:53 a. m. ******/
CREATE NONCLUSTERED INDEX [idx_post] ON [dbo].[comentarios_blog]
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_contacto_estado]    Script Date: 13/10/2025 11:06:53 a. m. ******/
CREATE NONCLUSTERED INDEX [idx_contacto_estado] ON [dbo].[Contactos]
(
	[estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_contacto_fecha]    Script Date: 13/10/2025 11:06:53 a. m. ******/
CREATE NONCLUSTERED INDEX [idx_contacto_fecha] ON [dbo].[Contactos]
(
	[fecha_contacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_contacto_nutriologo]    Script Date: 13/10/2025 11:06:53 a. m. ******/
CREATE NONCLUSTERED INDEX [idx_contacto_nutriologo] ON [dbo].[Contactos]
(
	[nutriologo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_comentario]    Script Date: 13/10/2025 11:06:53 a. m. ******/
CREATE NONCLUSTERED INDEX [idx_comentario] ON [dbo].[likes_blog]
(
	[comentario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_post]    Script Date: 13/10/2025 11:06:53 a. m. ******/
CREATE NONCLUSTERED INDEX [idx_post] ON [dbo].[likes_blog]
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_usuario]    Script Date: 13/10/2025 11:06:53 a. m. ******/
CREATE NONCLUSTERED INDEX [idx_usuario] ON [dbo].[likes_blog]
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_like_comentario]    Script Date: 13/10/2025 11:06:53 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_like_comentario] ON [dbo].[likes_blog]
(
	[usuario_id] ASC,
	[comentario_id] ASC
)
WHERE ([comentario_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_like_post]    Script Date: 13/10/2025 11:06:53 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_like_post] ON [dbo].[likes_blog]
(
	[usuario_id] ASC,
	[post_id] ASC
)
WHERE ([post_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_post_autor]    Script Date: 13/10/2025 11:06:53 a. m. ******/
CREATE NONCLUSTERED INDEX [idx_post_autor] ON [dbo].[PostsBlog]
(
	[autor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_post_categoria]    Script Date: 13/10/2025 11:06:53 a. m. ******/
CREATE NONCLUSTERED INDEX [idx_post_categoria] ON [dbo].[PostsBlog]
(
	[categoria_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_post_fecha]    Script Date: 13/10/2025 11:06:53 a. m. ******/
CREATE NONCLUSTERED INDEX [idx_post_fecha] ON [dbo].[PostsBlog]
(
	[fecha_publicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_estado]    Script Date: 13/10/2025 11:06:53 a. m. ******/
CREATE NONCLUSTERED INDEX [idx_estado] ON [dbo].[reportes_blog]
(
	[estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_fecha]    Script Date: 13/10/2025 11:06:53 a. m. ******/
CREATE NONCLUSTERED INDEX [idx_fecha] ON [dbo].[reportes_blog]
(
	[fecha_reporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_reporte_estado]    Script Date: 13/10/2025 11:06:53 a. m. ******/
CREATE NONCLUSTERED INDEX [idx_reporte_estado] ON [dbo].[ReportesBlog]
(
	[estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_reporte_fecha]    Script Date: 13/10/2025 11:06:53 a. m. ******/
CREATE NONCLUSTERED INDEX [idx_reporte_fecha] ON [dbo].[ReportesBlog]
(
	[fecha_reporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_sesion_token]    Script Date: 13/10/2025 11:06:53 a. m. ******/
CREATE NONCLUSTERED INDEX [idx_sesion_token] ON [dbo].[Sesiones]
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_sesion_usuario]    Script Date: 13/10/2025 11:06:53 a. m. ******/
CREATE NONCLUSTERED INDEX [idx_sesion_usuario] ON [dbo].[Sesiones]
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_email]    Script Date: 13/10/2025 11:06:53 a. m. ******/
CREATE NONCLUSTERED INDEX [idx_email] ON [dbo].[Usuarios]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_tipo]    Script Date: 13/10/2025 11:06:53 a. m. ******/
CREATE NONCLUSTERED INDEX [idx_tipo] ON [dbo].[Usuarios]
(
	[tipo_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_fecha]    Script Date: 13/10/2025 11:06:53 a. m. ******/
CREATE NONCLUSTERED INDEX [idx_fecha] ON [dbo].[visitas_perfil]
(
	[fecha_visita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_nutriologo]    Script Date: 13/10/2025 11:06:53 a. m. ******/
CREATE NONCLUSTERED INDEX [idx_nutriologo] ON [dbo].[visitas_perfil]
(
	[nutriologo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CategoriasBlog] ADD  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[comentarios_blog] ADD  DEFAULT (getdate()) FOR [fecha_comentario]
GO
ALTER TABLE [dbo].[comentarios_blog] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Contactos] ADD  DEFAULT (sysdatetime()) FOR [fecha_contacto]
GO
ALTER TABLE [dbo].[Contactos] ADD  DEFAULT ('nuevo') FOR [estado]
GO
ALTER TABLE [dbo].[likes_blog] ADD  DEFAULT (getdate()) FOR [fecha_like]
GO
ALTER TABLE [dbo].[PostsBlog] ADD  DEFAULT (sysdatetime()) FOR [fecha_publicacion]
GO
ALTER TABLE [dbo].[PostsBlog] ADD  DEFAULT ((0)) FOR [vistas]
GO
ALTER TABLE [dbo].[PostsBlog] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[reportes_blog] ADD  DEFAULT ('pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[reportes_blog] ADD  DEFAULT (getdate()) FOR [fecha_reporte]
GO
ALTER TABLE [dbo].[ReportesBlog] ADD  DEFAULT ('pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[ReportesBlog] ADD  DEFAULT (sysdatetime()) FOR [fecha_reporte]
GO
ALTER TABLE [dbo].[Sesiones] ADD  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ('visitante') FOR [tipo_usuario]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (sysdatetime()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [recomendado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0.00)) FOR [calificacion]
GO
ALTER TABLE [dbo].[visitas_perfil] ADD  DEFAULT (getdate()) FOR [fecha_visita]
GO
ALTER TABLE [dbo].[visitas_perfil] ADD  DEFAULT ((0)) FOR [duracion_segundos]
GO
ALTER TABLE [dbo].[comentarios_blog]  WITH CHECK ADD  CONSTRAINT [FK_comentario_autor] FOREIGN KEY([autor_id])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[comentarios_blog] CHECK CONSTRAINT [FK_comentario_autor]
GO
ALTER TABLE [dbo].[comentarios_blog]  WITH CHECK ADD  CONSTRAINT [FK_comentario_padre] FOREIGN KEY([comentario_padre_id])
REFERENCES [dbo].[comentarios_blog] ([id])
GO
ALTER TABLE [dbo].[comentarios_blog] CHECK CONSTRAINT [FK_comentario_padre]
GO
ALTER TABLE [dbo].[comentarios_blog]  WITH CHECK ADD  CONSTRAINT [FK_comentario_post] FOREIGN KEY([post_id])
REFERENCES [dbo].[PostsBlog] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[comentarios_blog] CHECK CONSTRAINT [FK_comentario_post]
GO
ALTER TABLE [dbo].[Contactos]  WITH CHECK ADD FOREIGN KEY([nutriologo_id])
REFERENCES [dbo].[Usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[likes_blog]  WITH CHECK ADD  CONSTRAINT [FK_likes_comentario] FOREIGN KEY([comentario_id])
REFERENCES [dbo].[comentarios_blog] ([id])
GO
ALTER TABLE [dbo].[likes_blog] CHECK CONSTRAINT [FK_likes_comentario]
GO
ALTER TABLE [dbo].[likes_blog]  WITH CHECK ADD  CONSTRAINT [FK_likes_post] FOREIGN KEY([post_id])
REFERENCES [dbo].[PostsBlog] ([id])
GO
ALTER TABLE [dbo].[likes_blog] CHECK CONSTRAINT [FK_likes_post]
GO
ALTER TABLE [dbo].[likes_blog]  WITH CHECK ADD  CONSTRAINT [FK_likes_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[likes_blog] CHECK CONSTRAINT [FK_likes_usuario]
GO
ALTER TABLE [dbo].[PerfilesNutriologo]  WITH CHECK ADD FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostsBlog]  WITH CHECK ADD FOREIGN KEY([autor_id])
REFERENCES [dbo].[Usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostsBlog]  WITH CHECK ADD FOREIGN KEY([categoria_id])
REFERENCES [dbo].[CategoriasBlog] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[reportes_blog]  WITH CHECK ADD  CONSTRAINT [FK_reportes_usuario] FOREIGN KEY([reportador_id])
REFERENCES [dbo].[Usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reportes_blog] CHECK CONSTRAINT [FK_reportes_usuario]
GO
ALTER TABLE [dbo].[ReportesBlog]  WITH CHECK ADD FOREIGN KEY([reportador_id])
REFERENCES [dbo].[Usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sesiones]  WITH CHECK ADD FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[visitas_perfil]  WITH CHECK ADD  CONSTRAINT [FK_visitas_nutriologo] FOREIGN KEY([nutriologo_id])
REFERENCES [dbo].[Usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[visitas_perfil] CHECK CONSTRAINT [FK_visitas_nutriologo]
GO
ALTER TABLE [dbo].[visitas_perfil]  WITH CHECK ADD  CONSTRAINT [FK_visitas_visitante] FOREIGN KEY([visitante_id])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[visitas_perfil] CHECK CONSTRAINT [FK_visitas_visitante]
GO
ALTER TABLE [dbo].[reportes_blog]  WITH CHECK ADD CHECK  (([estado]='resuelto' OR [estado]='revisado' OR [estado]='pendiente'))
GO
ALTER TABLE [dbo].[reportes_blog]  WITH CHECK ADD CHECK  (([tipo_contenido]='comentario' OR [tipo_contenido]='post'))
GO
USE [master]
GO
